/* ========== Header ==========  */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li a {
    padding: 3px 20px;
    color: var(--main-color);
}
nav ul li:hover a {
    border-bottom: 1px solid var(--main-color);
}
header .button {
    padding: 10px 25px;
}
.trigger { display: none;}

/* Banner  */
.banner {
    position: relative;
    width: 100%;
    padding: 120px 0 50px;
    overflow: hidden;
    background:#efd6ae;
    background-image: repeating-linear-gradient(-60deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5) 1px, transparent 0, transparent 100px, transparent 400px);
}
.banner div { float: left; height: 100%; }
.banner div:first-child { width: 20%; height: 100%; padding-top: 220px;}
.banner div:first-child img {
    width: 100%;
}
.banner div:nth-child(2) {
    width: 60%;
    position: relative;
}
.banner div:nth-child(2) img { 
    width: 70%;
    float: right;
}
.banner h2 { 
    position: absolute; 
    top: 20%; 
    left: 5%; 
    color: var(--font-p-color); 
    font-size: 60px; 
    line-height: 65px; 
    z-index: 10;
}
.banner h3 { 
    position: absolute; 
    top: 35%; 
    left: 9%; 
    color: var(--main-color); 
    font-size: 30px; 
    line-height: 45px;4
}

.banner div:last-child {
    width: 20%;
}
.banner div:last-child img {
    width: 80%;
    padding-top: 50px;
    float: right;
}
.banner img:hover {
    transform: scale(1.05);
}
.banner img {
    transition: all .4s ease-in;
}

/* ========== about ==========  */
.about {
    position: relative;
    width: 100%;
    padding: 80px 0;
    background: var(--background-second-color);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .about-img {
    position: relative;
    width: 65%;
}
.about-img img {
    width: 100%;
}

.about-img h2 {
    position: absolute;
    top :5% ;
    left: 5%;
    font-size: 65px;
    color: var(--main-color);
    text-shadow: 5px 3px 3px rgb(116, 115, 115);
}
.about .about-txtBox {
    width: 35%;
}
.about-txtBox .txtBox-text {
    width: 80%;
    margin: 0 auto;
}
.about-txtBox h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
.about-txtBox .button {
    display: inline-block;
    margin-top: 50px;
    padding: 10px 40px;
}

/* ========== product ==========  */
.product {
    width: 100%;
    height: auto;
    padding: 100px 0 0;
    background:var(--background-color);
    overflow: hidden;
}
.product h3 {
    padding-bottom: 60px;
    text-align: center;
    font-size: 48px;
    color: var(--main-color);
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
}
.product-grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}

.product-grid-container div:nth-child(2n-1) h5 {
    margin-top: 30%;
    font-family: 'Merriweather', serif;
    color: #fff;
    font-size: 55px;
    text-align: center;
}
.product-grid-container div:nth-child(1) {
    background: #b25a56;
}
.product-grid-container div:nth-child(3) {
    background: #715120;
}
.product-grid-container div:nth-child(5) {
    background: #a78890;
}
.product img { width: 100%; height: 100%; object-fit: cover; }

/* ========== Gallery ========== */
.gallery {
    width: 100%;
    padding: 100px 0;
    background: var(--background-second-color);
}
.gallery h3 {
    padding-bottom: 60px;
    text-align: center;
    font-size: 48px;
    color: var(--main-color);
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
}
.gal-grid-warp {
    display: grid;
    grid-template-columns: 49% 2% auto;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.gallery img {
    width: 100%;
    
}
.gal-grid-left {
    display: grid;
    grid-template-rows: 65% 2% auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gal-grid-right {
    display: grid;
    grid-template-rows: 33% 2% auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* Contact */
.contact {
    width: 100%;
    background: var(--background-color);
    padding: 100px 0;
}
.contact h3 {
    padding-bottom: 60px;
    text-align: center;
    font-size: 48px;
    color: var(--main-color);
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
}
.contact .form-wrap {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    background: #fff;
}
.form-wrap h4 {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
}
.form-wrap div {
    margin-bottom: 40px;
}
.form-wrap input { 
    width: 95%;
    font-size: 25px;
    padding: 10px 0;
    border-radius: 3px;
}
.form-wrap .button {
    display: inline-block;
    padding: 15px 80px;
}
.form-wrap .button:hover {
    background: #67491c;
    color: #fff;
    opacity: 0.8;
}
.form-wrap .name-form p {
    display: inline-block;
    width: 48.5%;
}
.form-wrap .name-form span {
    line-height: 40px;
    font-size: 20px;
}
.form-wrap .message-form input {
    padding-bottom: 230px;
    
}

/* Footer  */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    background: var(--background-second-color);
    text-align: center;
}
footer .sns i {
    padding: 10px 25px;
    color: var(--main-color);
    font-size: 25px;
    cursor: pointer;
}
footer div:nth-child(3) p {
    padding-bottom: 10px;
    color: var(--main-color);
}

/* 미디어 쿼리  */
@media (max-width:1024px) {
    body {
        font-size: 14px;
    }
    header {
        padding: 0 15px;
        background: pink;
    }
    nav ul li a {
        padding: 3px 15px;
    }

    .banner {
        padding: 120px 0 20px;
    }
    .banner div:nth-child(2) img {
        width: 72%;
    }
    .banner div:nth-child(2) h2 {
        top: 30%;
        left: 3%;
        font-size: 50px;
    }
    .banner div:nth-child(2) h3 {
        top: 45%;
        left: 3%;
        font-size: 25px;
        line-height: 35px;
    }
    .about {
        padding: 40px 0;
    }
    .about-img h2 {
        font-size: 53px;
        letter-spacing: -2px; 
    }
    .about-txtBox .button {
        padding: 10px 30px; 
    }
    .product h3 {
        padding-bottom: 50px;
    }
    .product-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .product-grid-container div:nth-child(2n-1) h5 {
        margin-top: 30%;
        font-size: 45px;
    }
    footer .sns i { padding: 10px 15px; }


}
@media (max-width:768px) {
    header {
        height: 70px;
        padding: 0 30px;
        background: yellow;
        justify-content: space-between;
    }
    header nav { display: none;}
    header > a { display: none;}
    header .trigger { 
        display: block;
        position: relative;
        width: 30px;
        height: 15px;
    }
    header .trigger span {
        width: 100%;
        height: 1px;
        background: #444;
    }
    header .trigger span:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
    }
    header .trigger span:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 0;
    }
    header .trigger span:nth-child(3) {
        position: absolute;
        top: 100%;
        left: 0;
    }
    .banner {
        padding: 100px 0 30px ;
    }
    .banner div:nth-child(1) { display: none;}
    .banner div:nth-child(3) { display: none;}
    .banner div:nth-child(2) { width: 100%;}
    .banner div:nth-child(2) img { width: 55%;}
    .banner div:nth-child(2) h2 {
        top: 23%;
        left: 5%;
        font-size: 45px;
    }
    .banner div:nth-child(2) h3 {
        top: 43%;
        left: 8%;
        font-size: 22px;
    }

    .about {
        flex-direction: column;
    }
    .about .about-img {
        width: 90%;
    }
    .about .about-img h2 {
        font-size: 45px;
    }
    .about .about-txtBox {
        width: 90%;
        margin-top: 50px;
    }
    .about .about-txtBox .button {
        margin-top: 35px;
    }
    .product {
        padding: 60px 0 0;
    }
    .product h3 {
        font-size: 40px;
    }

    .product-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .product-grid-container div:nth-child(2n-1) h5 {
        margin-top: 35%;
        font-size: 38px;
    }
    .gallery {
        padding: 60px 0;
    }
    .gallery h3 {
        font-size: 40px;
    }
    .gal-grid-warp img {
        width: 100%;
    }
    .gal-grid-warp {
        display: block;
        overflow: hidden;
    }
    .gal-grid-right {
        grid-auto-flow: dense;
    }



@media (max-width:480px) {
    header {
        background: yellowgreen;
    }
}