/* ========== Header & banner ==========  */
.hb-warp {
    width: 100%;
    height: 850px;
    background:#efd6ae;
    background-image: repeating-linear-gradient(-60deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5) 1px, transparent 0, transparent 100px, transparent 400px);
}
header {
    height: 100px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li a {
    padding: 3px 20px;
    color: var(--main-color);
}
nav ul li:hover a {
    border-bottom: 1px solid var(--main-color);
}
header .button {
    padding: 10px 25px;
}

.banner {
    height: 680px;
    position: relative;
    overflow: hidden;
}
.banner div { float: left; height: 100%; }
.banner div:first-child { width: 20%; padding-top: 220px;}
.banner div:first-child img {
    width: 270px ;
}
.banner div:nth-child(2) {
    width: 60%;
    min-width: 610px;
    position: relative;
}
.banner div:nth-child(2) img { 
    width: 540px;
    margin-left: 320px;
}
.banner div:nth-child(2) h2 { position: absolute; top: 20%; left: 5%; color: var(--font-p-color); font-size: 60px; line-height: 65px; z-index: 10;}
.banner div:nth-child(2) h3 { position: absolute; top: 55%; left: 10%; color: var(--main-color); font-size: 30px; line-height: 45px;}

.banner div:last-child {
    width: 20%;
    padding-top: 90px;
}
.banner div:last-child img {
    width: 250px;
    float: right;
}
.banner img:hover {
    transform: scale(1.1);
}
.banner img {
    transition: all .4s ease-in;
}

/* ========== about ==========  */
.about {
    position: relative;
    width: 100%;
    height: 650px;
    background: var(--background-second-color);
    overflow: hidden;
}
.about img {
    display: inline-block;
    height: 90%;
    margin-top: 2%;
}
.about h2 {
    position: absolute;
    top :8% ;
    left: 3%;
    font-size: 65px;
    color: var(--main-color);
    text-shadow: 5px 3px 3px rgb(116, 115, 115);
}
.about-txtBox {
    float: right;
    width: 35%;
    height: 100%;
    padding: 200px 75px;
}
.about-txtBox h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
.about-txtBox .button {
    display: inline-block;
    margin-top: 80px;
    margin-left: 80px;
    padding: 10px 70px;
}

/* ========== product ==========  */
.product {
    width: 100%;
    height: auto;
    background:var(--background-color);
    overflow: hidden;
}
.product-grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50%;
    overflow: hidden;
}

.product-grid-container div:nth-child(2n-1) { 
    padding-top: 23%;
    text-align: center;
    font-size: 55px;
    font-family: 'Merriweather', serif;
    color: #fff;
}
.product-grid-container div:nth-child(1) {
    background: #b25a56;
}
.product-grid-container div:nth-child(3) {
    background: #715120;
}
.product-grid-container div:nth-child(5) {
    background: #a78890;
}
.product img { width: 100%; height: 100%; object-fit: cover;  }

/* ========== Gallery ========== */
.gallery {
    width: 100%;
    height: 100%;
    background: var(--background-second-color);
}
.gal-grid-container {
    width: 70%;
    padding: 5% 0;
    margin: 0 auto;
    background: pink;
    display: grid;
    grid-template-columns: 4.7fr 4.7fr;
    justify-content: space-between;
    grid-gap: 1rem;
}


.gal-grid-container img { width: 100%;}

